@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2{
  font-size:1.8rem;
  font-weight: 600;
}
h3{
  font-size: 1.4rem;
  font-weight:800;

}
h4{
  font-size: 1.1rem;
  font-weight:600;
}
h5{
  font-size: 1rem;
  font-weight: 400;
}

button{
  font-size: 0.8rem;
  font-weight: 700;
  outline:none;
  border:none;
  background-color:black;
  color:white;
  padding:11px 30px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius:6px;
  transition: all 0.5s ease;
}
button:hover{
  background-color:coral;
}