.navbar {
  font-size: 16px;
      background: #e3e3e3;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: all 0.5s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: coral;
}
.nav-item i{
    padding:0 7px;
    font-size:1.2rem;
    cursor: pointer;
    transition:.5s ease;
}
.nav-item i:hover{
    color:coral
}

.navbar-toggler {
    border: none;

    outline: none !important;
}